<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp-SurveyJSFormLibrary.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    @* Form Library/Core resources *@
    <script src="https://unpkg.com/survey-core@2.3.7/survey.core.min.js"></script>
    <script src="https://unpkg.com/survey-core@2.3.7/survey.i18n.min.js"></script>
    <script src="https://unpkg.com/survey-core@2.3.7/themes/index.min.js"></script>
    <script src="https://unpkg.com/survey-js-ui@2.3.7/survey-js-ui.min.js"></script>

    @* Creator Resources*@

    <script src="https://unpkg.com/survey-creator-core@2.3.7/survey-creator-core.min.js"></script>
    <script src="https://unpkg.com/survey-creator-core@2.3.7/survey-creator-core.i18n.min.js"></script>
    <script src="https://unpkg.com/survey-creator-core@2.3.7/themes/index.min.js"></script>
    <script src="https://unpkg.com/survey-creator-js@2.3.7/survey-creator-js.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/survey-core@2.3.7/survey-core.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/survey-creator-core@2.3.7/survey-creator-core.min.css" />
    
    @* PDF *@
    <script src="https://unpkg.com/jspdf@2.4.0/dist/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/survey-pdf@2.3.7/survey.pdf.min.js"></script>

    @* Tabulator *@
    <script src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.5.20/dist/jspdf.plugin.autotable.min.js"></script>
    <script src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/survey-analytics@2.3.7/survey.analytics.tabulator.min.js"></script>
    <script src="https://unpkg.com/plotly.js-dist-min/plotly.min.js"></script>
    <script src="https://unpkg.com/survey-analytics@2.3.7/survey.analytics.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/survey-analytics@2.3.7/survey.analytics.tabulator.min.css" />

    @* Dashboard *@
    <script src="https://unpkg.com/plotly.js-dist-min/plotly.min.js"></script>
    <script src="https://unpkg.com/survey-analytics@2.3.7/survey.analytics.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/survey-analytics@2.3.7/survey.analytics.min.css" />



    <script src="js/survey.js"></script>
    <script src="js/formBuilder.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/tabulator.js"></script>
    <script src="js/pdfSurvey.js"></script>

    
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
