@page "/create"
@rendermode InteractiveServer
@implements IDisposable
@inject IJSRuntime JSRuntime

<PageTitle>Survey Creator</PageTitle>

<div id="surveyCreatorContainer" style="height: 100%; width: 100%"></div>

@code {
    private DotNetObjectReference<Creator>? dotNetRef;
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync(
                "initializeSurveyCreator",
                "/data/survey_json.json",
                dotNetRef
                );
        }
    }

    [JSInvokable]
    public async Task OnSurveySaved(string surveyJson)
    {
        // Example: persist surveyJson to database
        Console.WriteLine("Survey saved: " + surveyJson);

    }

    public void Dispose()
    {
        dotNetRef?.Dispose();
    }
}
