@page "/run"
@rendermode InteractiveServer
@implements IDisposable
@inject IJSRuntime JSRuntime

<PageTitle>SurveyJS Form Library</PageTitle>

<div id="surveyContainer"></div>

@code {
    private DotNetObjectReference<FormLibrary>? dotNetRef;   

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            
            await JSRuntime.InvokeVoidAsync("loadSurveyFromFile", "/data/survey_json.json", dotNetRef);
        }
    }

    [JSInvokable]
    public async Task OnSurveyComplete(string results)
    {
        await JSRuntime.InvokeVoidAsync("alert", "Thank you for your feedback!");
    }

    public void Dispose()
    {
        dotNetRef?.Dispose();
    }
}
