@page "/table"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@implements IDisposable

<div id="surveyTabulatorContainer" style="width:100%; height:80vh;"></div>

@code {
    private DotNetObjectReference<Table>? dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync(
                "initializeSurveyTabulator",
                "/data/dashboard_json.json",
                dotNetRef
            );
        }
    }

    [JSInvokable]
    public Task OnTabulatorRendered()
    {
        Console.WriteLine("Tabulator rendered callback received in Blazor");
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        dotNetRef?.Dispose();
    }
}
